<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.feedbackproto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FeedbackProto">
        <activity android:name=".EndFeedback"></activity>
        <activity android:name=".DoBetter" />
        <activity
            android:name=".WentWell"
            android:label="@string/title_activity_went_well"
            android:theme="@style/Theme.FeedbackProto.NoActionBar" />
        <activity android:name=".Reflection" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.FeedbackProto.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>